In [5]:
from sqlalchemy import create_engine
import pandas as pd
import os
from dotenv import load_dotenv

# Variáveis de ambiente
load_dotenv()
host = os.getenv('host')
user = os.getenv('user')
password = os.getenv('password')
database = os.getenv('database')
port = os.getenv('port')

db_user = user     
db_password = password
db_host = host  
db_port = port       
db_name = database     

# String de conexão para MySQL usando PyMySQL
db_string = f'mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'

# Criando a engine do SQLAlchemy
engine = create_engine(db_string)

In [6]:
pd.read_sql_query('SELECT * FROM online_retail_table LIMIT 3', con=engine)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom

### Dicionário de Variáveis
- InvoiceNo: Número da Fatura. Nominal. Um número inteiro de 6 dígitos atribuído de forma única a cada transação. Se este código começar com a letra 'c', indica um cancelamento.
- StockCode: Código do Produto. Nominal. Um número inteiro de 5 dígitos atribuído de forma única a cada produto distinto.
- Description: Descrição do Produto. Nominal. Nome do produto (item).
- Quantity: Quantidade. Numérico. Quantidade de cada produto por transação.
- InvoiceDate: Data e Hora da Fatura. Numérico. O dia e a hora em que a transação foi gerada.
- UnitPrice: Preço Unitário. Numérico. Preço do produto por unidade em libras esterlinas (£).
-CustomerID: Número do Cliente. Nominal. Um número inteiro de 5 dígitos atribuído de forma única a cada cliente.
- Country: País. Nominal. Nome do país onde o cliente reside.

### Perguntas de Négocios
1 -  Quais produtos são os mais vendidos? Como podemos identificar os itens mais populares entre os clientes para garantir que o estoque desses produtos esteja sempre disponível?

In [27]:
query = '''
SELECT STOCKCODE, DESCRIPTION, SUM(Quantity) AS "TOTAL_VENDIDO"
FROM online_retail_table
GROUP BY STOCKCODE, DESCRIPTION
ORDER BY TOTAL_VENDIDO DESC
LIMIT 10
'''
pd.read_sql_query(query, con=engine)

  STOCKCODE                         DESCRIPTION  TOTAL_VENDIDO
0     84077   WORLD WAR 2 GLIDERS ASSTD DESIGNS       107489.0
1    85123A  WHITE HANGING HEART T-LIGHT HOLDER        90008.0
2     84879       ASSORTED COLOUR BIRD ORNAMENT        79434.0
3    85099B             JUMBO BAG RED RETROSPOT        74564.0
4     17003                 BROCADE RING PURSE         70390.0
5     21977  PACK OF 60 PINK PAISLEY CAKE CASES        55051.0
6     84991         60 TEATIME FAIRY CAKE CASES        53169.0
7     21212     PACK OF 72 RETROSPOT CAKE CASES        45742.0
8     21212    PACK OF 72 RETRO SPOT CAKE CASES        44507.0
9     22197                SMALL POPCORN HOLDER        43602.0